<div class="row">
  <div class="col col-sm-12">
    <%= link_to recipes_path, { class: 'btn btn-sm btn-primary'} do %>
      <i class="fa fa-chevron-left"></i> Back
    <% end %>

    <div class="float-right">
      <%= link_to recipe_path(@ad), { method: :delete, class: 'btn btn-sm btn-primary' } do %>
        <i class="fa fa-trash"></i> Delete
      <% end %>
    </div>
  </div>
</div>

<hr>

<%= render 'form' %>