<div class="row">
  <div class="col col-sm-12">
    <%= link_to recipes_path, { class: 'btn btn-sm btn-primary'} do %>
      <i class="fa fa-chevron-left"></i> Back
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
  <strong><%= @recipe.title %></strong>
  </div>
</div>

<div class="row">
  <div class="col">
  Ingredients: <strong><%= @recipe.ingredients %></strong>
  </div>
</div>
  
<div class="row">
  <div class="col">
    Instructions: <strong><%= @recipe.body %></strong>
  </div>
</div>
</div>



